*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right,#f0f0ff,#d890f0,#c030f0 );

    font-family: "Montserrat", serif;
    font-size: 100px;
    font-weight: 600;
    font-style: normal;

    align-items: center;
}

div{
    align-items: center;
    justify-content: space-around;

    margin-top: 140px;
    margin-left: 60px;
}

img{
    float: left;
    filter: drop-shadow(10px 4px 1px #282727);
}

p{
    align-content: center;
    height: 320px;
    padding-top: 30px;
}
