*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Playwrite DE VA Guides", cursive;
    font-weight: 600;
    font-size: xx-large;
    text-align: center;
}



li {
    color: rgb(1, 4, 7);
}
h2{
    color: rgb(194, 110, 190);
    text-decoration: overline;
}
img{
    color: #0a6268;
}
body{
    height: 100%;
    width: 100%;
    background-color: bisque;
    margin-left: 4%;
}
a{
    color: rgb(10, 102, 221);
}
