*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Playwrite DE VA Guides", cursive;
    font-weight: 600;
    font-size: 70px;
    text-align: center;
}



li {
    color: rgb(1, 4, 7);
}

h2{
    font-size: 40px;
    margin-left: 3%;
    color: rgb(0, 28, 181);
}

body{
    height: 100%;
    width: 95%;
    background-color: rgb(255, 255, 255);
    margin-left: 4%;
}

a{
    color: rgb(10, 102, 221);
}

div{
    align-items: center;
    justify-items: center;
}

img{
    float: right;
    margin-right: 10%;
}

@media only screen and (max-width:400px) {
    body{
        background-color: rgb(255, 143, 6);
    }
    
}