@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(assets/lady.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    color: #fff;
}

#head{
    font-family: "Poltawski Nowy", serif;
    font-optical-sizing: auto;

    text-align: center;
    border-style: solid;

    max-width: 30vw;

    margin: auto;

}


h1{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12vw;

    text-align: center;
}

#foot{
    display: inline;
}

#foot h6{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    display: inline;
    font-size: 2vw;
}

#foot img{
    margin-left: 5vw;
    margin-right: 5vw;
}

#foot p{
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
    
    display: inline-block;
    max-width: 5vw;
}